/* SOURCE: https://www.shecodes.io/athena/261892-how-to-make-a-popup-login-form-with-html-css-and-javascript */
#loginPopup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.5); /* semi-transparent background */
    padding: 20px;
    color: white;
    text-align: center;
  }